
@{
    ViewBag.Title = "About";
}

<div class="about-container">
    <div class="about-row">
        <a href="http://www.st.com/stm32ode" target="_blank">
        <div class="about-img" style="background-image: url('/Images/Logos/stm32ode.png');">
        </div>
        </a>
        <div class="description">
            STM32ODE web dashboard is a service provided free of charge for evaluation of the Function Pack <a href="http://www.st.com/content/st_com/en/products/embedded-software/mcus-embedded-software/stm32-embedded-software/stm32-ode-function-pack-sw/fp-cld-azure1.html" target="_blank">FP-CLD-AZURE1</a>. Limitations in the service usage apply, refer to <a href="http://www.st.com/resource/en/user_manual/dm00280570.pdf" target="_blank">ST documentation</a> for details.
        </div>
    </div>
    <div class="about-row">
        <a href="https://catalog.azureiotsuite.com/details?title=STM32_ODE-IoT-node-based-on-STM32_Nucleo" target="_blank">
            <div class="about-img" style="background-image: url('/Images/Logos/Microsoft_Azure_Certified.png');">
            </div>
        </a>
        <div class="description">
            STM32 Nucleo is Microsoft Azure certified for IoT. For more information on Microsoft Azure Certified for IoT program please visit <a href="https://catalog.azureiotsuite.com/partner" target="_blank">https://catalog.azureiotsuite.com/partner</a>. 
        </div>
    </div>
    <div class="about-row">
        <a href="http://www.ismb.it/" target="_blank">
            <div class="about-img" style="background-image: url('/Images/Logos/ISMB.jpg');">
            </div>
        </a>
        <div class="description">
            The STM32ODE web dashboard has been co-developed with <a href="http://www.ismb.it/" target="_blank">Istituto Superiore Mario Boella (ISMB)</a>, which is a private research and innovation centre operating in the Information and Communication Technologies (ICT) domains and in particular, with its Microsoft Innovation Center that is a joint innovation unit between ISMB and Microsoft focused on IoT and BigData solutions based on cloud-computing technologies.
        </div>
    </div>
</div>


