
@{
    ViewBag.Title = "Project";
}

<h2>Project Description</h2>

<p>
    The goal of such activity is the creation of a framework tailored to STM Nucleo board addressed to the realization of Sensor to Cloud architecture and generally in line with Internet of Thing (IoT) paradigm. Such framework will be exploited in a generic Service Oriented Architecture relying on connection between embedded and cloud platform in order to speed up and simplify the development and testing phase, with the twofold objective to make the STM Nucleo solution more attractive from maker and producer perspective and, in medium term, to reduce the time to market for a business end to end solution. The deploy of cloud computing solution will exploit Microsoft Azure platform.
</p>

